In [1]:
def say_hello():
    print("Hello")

In [2]:
say_hello()

Hello

In [7]:
def say_hello(name = 'Viraj'):
    print(f"Hello,{name}!")

In [8]:
say_hello('Gargi')

Hello,Gargi!

In [9]:
say_hello()

Hello,Viraj!

In [10]:
def addition(n1,n2):
    return n1+n2

In [12]:
addition(1,100)

101

In [13]:
result = addition(1,100)                    # using return the output value can be stored in a variable

In [14]:
result

101

In [15]:
# make a function to return a list of odd num

In [19]:
def odd_num_list(num_list):
    
    odd_num = []
    
    for num in num_list:
        if (num%2) == 1:
            odd_num.append(num)
        
        else:
            pass
    
    return odd_num

In [20]:
odd_num_list([1,2,3,4,5,6,7])

[1, 3, 5, 7]

In [58]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [59]:
def name_max_hours(work_hours):
    
    current_max = 0
    employee_of_the_month = ''
    for name,hours in work_hours:
        
        if current_max < hours:
            
            current_max = hours
            employee_of_the_month = name
        
        else:
            pass
        
    return (employee_of_the_month,current_max)

In [60]:
name_max_hours(work_hours)

('Billy', 4000)

In [61]:
# *args and **kwargs

In [80]:
def myfunc(*args):                            # as many parameters as you want args treated as tuples
    print(args)
    return sum(args)*0.05

In [82]:
myfunc(1,2)

(1, 2)

0.15000000000000002

In [83]:
myfunc(100,100,100,100)

(100, 100, 100, 100)

20.0

In [65]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print("The fruit is {}".format(kwargs['fruit']))
    elif 'veggie' in kwargs:
        print("The veggie is {}".format(kwargs['veggie']))
    else:
        print("Opps!")

In [71]:
myfunc(car = 'mazda')

Opps!

In [69]:
print("Hey, My name is {}".format('Gargi'))

Hey, My name is Gargi

In [132]:
def myfunc(st):
    
    st1 = []
    
    for index in range(len(st)):
        if index % 2 == 0:
            
            st1.append(st[index].lower())
            
        else:
            
            st1.append(st[index].upper())
    
    
    
    
    
    
    return ''.join[st1]

In [133]:
myfunc('viraj')

TypeError: 'builtin_function_or_method' object is not subscriptable

In [123]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [124]:
myfunc('Viraj')

'vIrAj'

In [148]:
text = 'lsvdhv lgvvm'

In [149]:
w1,w2 = text.split()

In [151]:
print(w1)

lsvdhv

In [153]:
print(w2)

lgvvm

In [154]:
for index in w1[0]:
    print(index)

l

In [155]:
if w1[0]==w2[0]:
    print("True")
else:
    pass

True

In [159]:
name = 'macdonald'

print(name[3])

d

In [160]:
list1 = name.split()
print(list1)

['macdonald']

In [179]:
name = 'mac'

name.upper()

'MAC'

In [178]:
type(name.upper())

str

In [4]:
text= 'I am home'

list1=text.split()

print(list1)

new_text=[]

length = len(list1)


print(length)

for index in range(length):
    
    print(index)
    new_text.append(list1[length-index-1])
    print(new_text)

['I', 'am', 'home']
3
0
['home']
1
['home', 'am']
2
['home', 'am', 'I']

In [23]:
sum([2,3,1])

6

In [24]:
arr = [2,3,1,6,7,9,1]

In [25]:
sum(arr)

6

In [30]:
sum(arr[0:3])

6

In [37]:
for i in [2,3,1,6,7,9,1]:
    if i == 6 :
        print(sum(arr[0:3]))
    else:
        pass

6

In [20]:
spy_games = [1,0,2,0,5,0,6,7,0,8]

In [21]:
new_sg = spy_games[::-1]

In [22]:
new_sg

[8, 0, 7, 6, 0, 5, 0, 2, 0, 1]

In [25]:
count = 0 
for index in range(len(new_sg)-1):
    if new_sg[index] == 7:
        print(index)
        break
for index_0 in range(index,len(new_sg)):
    if new_sg[index_0] == 0:
        print(index_0)
        count += 1
        print(count)
        if count == 1:
            for index_1 in range(index_0,len(new_sg)):
                if new_sg[index_1] == 0:
                    print(index_1)
                    count += 1
                    print(count)
                    break
        break

2
4
1
4
2

In [27]:
def findNumber(list1):
    count = 0
    for num in list1:
        if num == 0 and count < 2:
            count+= 1
        elif count == 2 and num ==7:
            return True
    return False

In [30]:
findNumber([1,2,0,3,0,4,0,6,0,8,])

False

In [81]:
def count_prime(num):
    
    count = 0
    
    for i in range(0,num):
        if i == 1 or i == 0:
            continue
        elif i%2 != 0 or i%3 != 0 or i%5 != 0:
            continue
        else:
            count += 1
    
    return count

In [82]:
count_prime(100)

3

In [60]:
89%2

1

In [61]:
89%3

2

In [62]:
89%5

4

In [63]:
89%7

5

In [1]:
def square(num):
    return num**2

In [2]:
my_num = [1,2,3,4,5]

In [4]:
list(map(square,my_num))

[1, 4, 9, 16, 25]

In [5]:
def check_even(num):
    return num%2 == 0

In [6]:
list(filter(check_even,my_num))

[2, 4]

In [7]:
square1 = lambda number: number**2

In [8]:
square1(5)

25

In [44]:
name = "Viraj Rana"

In [52]:
count_upper = 0
count_lower = 0

for char in name:
    if char.isupper():
        count_upper += 1
        
    elif char.islower():
        count_lower += 1
        
    else:
        pass
    
print(count_upper)
print(count_lower)

V
R
2
7

In [22]:
list_123 = [1,1,1,2,2,3,4,4,4,4,5,5]

In [27]:
new_n = list_123[0]
unique_list=[list_123[0]]

for n in list_123:
    if new_n != n:
        new_n = n
        unique_list.append(n)
       
    elif new_n == n:
        pass
    
print(unique_list)

[1, 2, 3, 4, 5]

In [28]:
numbers=[1,2,3,4]

In [31]:
n_1 = 1
for n in numbers:
    n_1 = n_1 * n 
print(n_1)

24

In [47]:
s = "madam and Sir"

In [48]:
s_rev = s[::-1]
if s == s_rev:
    print(s_rev)

In [49]:
s_new = s.replace(" ", "")
print(s_new)

madamandSir

In [77]:
import string
alpha = set(string.ascii_letters)
alpha1 = ['m','i','d','a','r','n','S']
s_new1 = set(s_new)
print(s_new1)
alpha_set = set(alpha1)
print(alpha_set)
what = s_new1.difference(alpha_set)
if what == set():
    print(True)

{'m', 'i', 'S', 'd', 'a', 'r', 'n'}
{'m', 'n', 'S', 'd', 'a', 'r', 'i'}
True

In [78]:
ttt = {1: ' ', 2: ' ', 3:' '}

In [79]:
ttt[1]= 'x'

In [80]:
print(ttt)

{1: 'x', 2: ' ', 3: ' '}

In [100]:
t_row1 = [' ', ' ', ' ']
t_row2 = [' ', ' ', ' ']
t_row3 = [' ', ' ', ' ']

In [102]:
ttt = [t_row1, 
       t_row2, 
       t_row3]

In [103]:
print(ttt)

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [88]:
position_u1 = int(input("Choose your position on the game board from 1 to 9: "))

Choose your position on the game board from 1 to 9: 5

In [89]:
print(position_u1)

5

In [90]:
u1 = input("choose one of 'x' or 'o': ")

choose one of 'x' or 'o': x

In [91]:
print(u1)

x

In [92]:
ttt[position_u1] = u1

In [93]:
print(ttt)

{1: {1: ' ', 2: ' ', 3: ' '}, 2: {4: ' ', 5: ' ', 6: ' '}, 3: {7: ' ', 8: ' ', 9: ' '}, 5: 'x'}

In [117]:
row1 = ['x','o','x']
row2 = ['o', 'o', 'o']

row = [row1,row2]

element_x = 0
element_o = 0

#for n_rows in row:
for element in row2:
    if element == 'x':
        element_x += 1
        if element_x == 3:
            print("x wins")
    elif element == 'o':
        element_o += 1
        if element_o == 3:
            print("o wins")
            print(row)

o wins
[['x', 'o', 'x'], ['o', 'o', 'o']]

In [120]:
for n in row[0]:
    print(n)

x
o
x