In [3]:
name = 'Gargi'

if name=='Viraj':
    print("Hey! Nice to meet you, Viraj")
elif name=='Gargi':
    print("Hey! Gargi, How's going?")
else:
    print("Pardon!")

Hey! Gargi, How's going?

In [4]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [8]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [13]:
for num in mylist:
    if num%2 == 0:
        print(num, "even num")
    else:
        print(num, "odd num")

1 odd num
2 even num
3 odd num
4 even num
5 odd num
6 even num
7 odd num
8 even num
9 odd num
10 even num

In [14]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [15]:
#Tuple packing and unpacking

In [16]:
mylist = [(1,2),(3,4),(5,6)]

In [17]:
mylist

[(1, 2), (3, 4), (5, 6)]

In [18]:
for num in mylist:
    print(num)

(1, 2)
(3, 4)
(5, 6)

In [19]:
for (a,b) in mylist:                         # tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6

In [20]:
d = {'k1':1, 'k2':2}

In [21]:
for item in d:
    print(item)

k1
k2

In [22]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)

In [23]:
for item in d.values():
    print(item)

1
2

In [26]:
x = 0 
                                                   #while loop
while x < 5:
    print(f"The number is {x}")
    x = x + 1

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4

# 3 Keywords - break, continue, pass

In [27]:
x = [1,2,3]

for item in x:
    pass
print("end of script")

end of script

In [28]:
mystring = "Sammy"

In [29]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [31]:
for letter in mystring:
    if letter=='a':
        continue
    print(letter)

S
m
m
y

In [32]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

# Useful Operators

In [33]:
for num in range(5):
    print(num)

0
1
2
3
4

In [34]:
for num in range(5,10):
    print(num)

5
6
7
8
9

In [35]:
for num in range(5,10,2):
    print(num)

5
7
9

In [37]:
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [39]:
list(range(1,20,3))

[1, 4, 7, 10, 13, 16, 19]

In [41]:
word = 'abcde'

for index,item in enumerate(word):
    print(index)
    print(item)

0
a
1
b
2
c
3
d
4
e

In [42]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b']
mylist3 = [100,200,300]

for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)

In [44]:
'x' in ['x','y','z']

True

In [45]:
'x' in [1,2,3]

False

In [46]:
mylist = [1,2,3,10]

In [47]:
min(mylist)

1

In [48]:
max(mylist)

10

In [49]:
from random import shuffle

In [50]:
mylist

[1, 2, 3, 10]

In [51]:
shuffle(mylist)

In [52]:
mylist

[3, 10, 1, 2]

In [53]:
from random import randint

In [55]:
randint(1,10)

8

In [60]:
result = int(input("Enter an even no. "))

Enter an even no. 2

In [61]:
result

2

In [62]:
mylist =[1,2,3,4,5]

In [63]:
mylist

[1, 2, 3, 4, 5]

In [64]:
mylist = [num for num in range(0,10,2)]

In [65]:
mylist

[0, 2, 4, 6, 8]

In [66]:
mylist = [num**2 for num in range(0,10,2)]

In [67]:
mylist

[0, 4, 16, 36, 64]

In [70]:
mylist = []

for num in range(0,12,2):
    mylist.append(num)

In [71]:
mylist

[0, 2, 4, 6, 8, 10]

In [73]:
mylist1 = [1,2]

for x in mylist:
    for y in mylist1:
        print(x*y)

0
0
2
4
4
8
6
12
8
16
10
20

AttributeError: 'list' object has no attribute 'split'